/* font-family: 'Alex Brush', cursive;
font-family: 'Playfair Display', serif;
*/

@media { 


#topper{
    background-color: #eee5f4;
    text-align: center;
}

h1{
    font-family: 'Playfair Display', serif;
    color: black;
    font-size: 70px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}
    
h2{
    font-family: 'Alex Brush', cursive;
    font-size: 50px;
    color: black;
    text-align: center;
    }
    
    button{
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    border-radius:10px;
    text-align: center;
    }
    button:hover{
    background-color:#eee5f4;
    
}
    
img {
    width:200px;
    border-radius:500px;
    float:right;
    border: 5px solid black;
    margin: 20px 200px 50px 400px;
}

#navigation{
       font-family: 'Playfair Display' , serif;
        text-align: center;
    }
    
    #experience{
        font-family: 'Playfair Display', serif;
        font-weight: bold;
        border-bottom: 5px black;
    }
    h4{
        font-family: 'Playfair Display', serif;

    }
    p{
    font-family: 'Playfair Display', serif;
    }
    #skills{
        font-family: 'Playfair Display', serif;
        font-weight: bold;
        border-bottom: 5px black;
    }
    ul{
        font-family: 'Playfair Display', serif;
    }
    #education{
        font-family: 'Playfair Display', serif;
        border-bottom: 5px black;
    }
    h3{
        font-family: 'Playfair Display', serif;
        font-weight: bold;
        border-bottom: 5px;
    }

#footer{
    position: fixed;
    bottom: 0px;
    background-color: black;
    color: white;
    
}
}
