/* font-family: 'Alex Brush', cursive;
font-family: 'Playfair Display', serif;
*/

@media { 


#topper{
    background-color: #eee5f4;
}

h1{
    font-family: 'Playfair Display', serif;
    color: black;
    font-size: 70px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}
    
h2{
    font-family: 'Alex Brush', cursive;
    font-size: 50px;
    color: black;
    text-align: center;
    }
img {
    width:200px;
    border-radius:500px;
    float:right;
    border: 5px solid black;
    
    
}

#footer{
    position: fixed;
    bottom: 0px;
    background-color: black;
    color: white;
    
}
}
